{% extends "flatpages/base.html" %}
{% block title %}{{ flatpage.title }}{% endblock title %}

{% block header %}{{ flatpage.title }}{% endblock header %}

{% block nav %}
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/greeting/">Greeting</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/content/">Content</a>
<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#">Contact Us</a>
{% endblock nav %}

{% block content %}
  {{flatpage.content }}
{% endblock content %}
